<!doctype html>
<title>smartplug</title>
<link rel=stylesheet type=text/css href="{{ url_for('main.static', filename='style.css') }}">
<div class=page>
  <h1>smartplug</h1>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('main.login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('main.logout') }}">log out</a>
  {% endif %}
  <a href="{{ url_for('main.sigin')}}">sigin</a>
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>