{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
      <h2>show devices！</h2>
    <form action="{{ url_for('add_device') }}" method=post class=add-entry>
      <dl>
        <dt>Category:
        <dd><input type=text size=30 name=category_name>
        <dt>Description:
        <dd><<input type=text size=30 name=description>
        <dd><input type=submit value=add>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for device in devices %}
    <li><h2>{{ device.description }}</h2>{{ device.category.type|safe }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}